.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
android/local.properties
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
.env
